# {{ ansible_managed }}

[Unit]
Description=NextDNS DNS53 to DoH proxy

ConditionFileIsExecutable=/usr/bin/nextdns

StartLimitIntervalSec=0

After=network.target
Wants=nss-lookup.target
Before=nss-lookup.target

[Service]
User={{ nextdns_user }}
Group={{ nextdns_group }}
Environment=SERVICE_RUN_MODE=1
RuntimeDirectory=nextdns
ExecStart=/usr/bin/nextdns run

Restart=on-failure
RestartSec=5

AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
DeviceAllow=/dev/null rw
DevicePolicy=strict
LimitMEMLOCK=infinity
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full
RemoveIPC=true
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
